@font-face{
    font-family: "Amaranth";
    src: url("../fonts/Amaranth-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Amaranth";
    src: url("../fonts/Amaranth-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

body{ 
    background-color: #000000; /*black*/
    color: #20B2AA; /*lightseagreen*/
    font-family: "Amaranth", Arial, sans-serif;
    font-size: 22px;
    line-height: 120%; /*the space between each line is 1.6 times the font size*/
}

h1{
    border-bottom: 5px double #FFFFFF; /*5px-boder-width white double-line*/
    font-size: 120%; /*relative to inherited font-size from its parent element: body*/
}

em{
    font-style: italic;
}

p{
    text-align: justify;
}

/*class selector*/
p.engraver{
    font-family: serif;
    font-size: 80%; /*relative to inherited font-size from its parent element: body*/
    font-weight: bolder;
}

/*id selector*/
#Definition{
    border-color: #FFFFFF; /*white border*/
    border-width: 5px;
    border-style: double;
    border-top-right-radius: 50px;
    background-color: #C0C0C0; /*silver background*/
    background-image: url(../images/qilin.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 30px;
    padding-right: 300px;
    margin: 35px;
    margin-left: 100px;
    margin-right: 100px;
    color: #000000;
    font-size: 90%;
    font-style: italic;
}

#Description{
    margin-left: 100px;
    margin-right: 100px;
}

#Thumbnails{
    margin-left: 100px;
    margin-right: 20px;
    border: transparent solid; float:left;
}

#Thumbnails img{
    border-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
}

h1#TOP{
    font-size: 200%;
}

#backTop{
    margin-left: 100px;
}

div#TOP{
    text-align: center;
}

#Footer p{
    font-size: 90%;
    text-align: right;
    margin: 30px 60px 30px 0px;
}

/*pseudo classes for <a> element, priority: link-visited-hover-active (LoVe-HAte)*/
a:link {
    color: #20B2AA; /*lightseagreen*/
}
a:visited {
    color: #FFD700; /*gold*/
    text-decoration-color: black;    
}
a:hover {
    color: #90EE90; /*lightgreen*/
    text-decoration: none;
    font-style: italic;
}
a:focus {
    color: indianred;
    text-decoration: none;
}
a:active {
    color: #FFFFFF; /*white*/
    text-decoration: none;
}

/*pseudo classes with descendant selector*/
#Thumbnails a:link{
    color: #000000;
}
#Thumbnails a:hover img{
    border-color: #20B2AA;
    border-style: solid;
}