@font-face{
    font-family: "Amaranth";
    src: url("../fonts/Amaranth-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Amaranth";
    src: url("../fonts/Amaranth-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

body{ 
    background-color: #000000; /*black*/
    color: #20B2AA; /*lightseagreen*/
    font-family: "Amaranth", Arial, sans-serif;
    font-size: 16px;
    line-height: 160%; /*the space between each line is 1.6 times the font size*/
}

h1{
    border-bottom: 3px double #FFFFFF; /*3px-boder-width white double-line*/
    font-size: 120%; /*relative to inherited font-size from its parent element: body*/
}

em{
    font-style: italic;
}

p{
    text-align: justify;
}

img{
    border:0;
    margin:0;
    padding:0;
    max-width:450px;
}

/*class selector*/
p.engraver{
    font-family: serif;
    font-size: 80%; /*relative to inherited font-size from its parent element: body*/
    font-weight: bolder;
}

/*id selector*/
#Definition{
    border-color: #FFFFFF; /*white border*/
    border-width: 3px;
    border-style: double;
    border-radius: 10px;
    background-color: #C0C0C0; /*silver background*/
    padding: 20px;
    margin: 25px;
    color: #000000;
    font-size: 90%;
    font-style: italic;
}

#Description{
    margin-left: 10px;
    margin-right: 10px;
}

#Thumbnails{
    margin-left: 40px;
}

h1#TOP{
    font-size: 200%;
}

#Footer p{
    font-size: 90%;
    text-align: right;
    margin: 30px 60px 30px 0px;
}

/*pseudo classes for <a>element, priority: link-visited-hover-active (LoVe-HAte)*/
a:link {
    color: #20B2AA; /*lightseagreen*/
}
a:visited {
    color: #FFD700; /*gold*/
    text-decoration-color: black;    
}
a:hover {
    color: #90EE90; /*lightgreen*/
    text-decoration: none;
    font-style: italic;
}
a:active {
    color: #FFFFFF; /*white*/
    text-decoration: none;
}