body{ 
    background-color: black;
    color:lightseagreen;
}

h1,h2{ 
    font-family: sans-serif;
}

h1{
    border-bottom: 1px ridge white;
    font-size: 16;
}

h2{
    font-size: 14;
}

p{
    color:lightseagreen;
}

/*class selector*/
p.engraver{
    font-family: serif;
    font-size: 15;
}

/*pseudo classes for <a>element, priority: link-visited-hover-active*/
a:link {
    color:lightseagreen;
    text-decoration:underline;
    }
    a:visited {
    color:gold;
    text-decoration:none;
    }
    a:hover {
    color:lightgreen;
    text-decoration:none;
    }
    a:active {
    color:white;
    text-decoration:none;
    } 