body{ 
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 120%; /*the space between each line is 1.6 times the font size*/
}

header, nav, section#main, aside{
    border: dotted 2px #0091BD;
}
header.top {
    margin: 10px 10px 0px 10px;
    height: 108px;
}
  
header.top img#headerChip {
    float: right;
    /*margin: 10px 0px 10px 0px;*/
}

div#tableContainer {
	display: table;
	border-spacing: 10px;
}
div#tableRow {
	display: table-row;
}

div#tableMain {
	display: table-cell;
}

nav {
    margin: 0px 0px 10px 0px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited, nav ul li a:hover {
    color: #0091BD;
    text-decoration: none;
    font-weight: bold;
}
nav ul li#selected {
    border: #0091BD solid;
	background-color: #0091BD;
}
nav ul li#selected a {
    color: #FFFFFF;
}
nav ul li a:hover, nav ul li#selected a:hover {
    color: #000000;
}

section#main {
    background: url(../images/background.gif);
    font-size:        105%;
    padding:          15px;
    vertical-align: top;
}

aside {
    display: table-cell;
    width: 400px;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
}

p {
    text-align: justify;
}

em {
    color: #0091BD;
    font-style: normal;
    font-weight: bold;
}